<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ReactiveCocoaLearning.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CE31DBC91C64479D00F73C01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE31DBDD1C64479D00F73C01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE31DBE81C64479D00F73C01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
